<button ng-click="patient.create()">Add</button>
<button ng-click="patient.del()">delete</button>
<button ng-click="patient.get()">get</button>
<button ng-click="patient.update()">update</button>
<div>
    <form>
        <input type="text" ng-model="patient.data.Nombres" placeholder="Nombres">
        <input type="text" ng-model="patient.data.PrimerApellido" placeholder="Primer Apellido">
        <input type="text" ng-model="patient.data.SegundoApellido" placeholder="Segundo Apellido">
        <input type="number" ng-model="patient.data.Identificacion" placeholder="Indentificacion">
        <input type="text" ng-model="patient.data.TipoIdentificacion" placeholder="Tipo">
        <input type="datetime" ng-model="patient.data.FechaNacimiento" placeholder="Fecha Nacimiento">
        <input type="text" ng-model="patient.data.Genero" placeholder="Genero">
        <input type="text" ng-model="patient.data.Escolaridad" placeholder="Escolaridad">
        <input type="text" ng-model="patient.data.Ocupacion" placeholder="Ocupacion">
        <input type="text" ng-model="patient.data.EstadoCivil" placeholder="Estado Civil">
        <input type="text" ng-model="patient.data.Direccion" placeholder="Direccion">
        <input type="text" ng-model="patient.data.Barrio" placeholder="Barrio">
        <input type="text" ng-model="patient.data.Municipio" placeholder="Municipio">
        <input type="text" ng-model="patient.data.Departamento" placeholder="Departamento">
        <input type="text" ng-model="patient.data.Pais" placeholder="Pais">
        <input type="text" ng-model="patient.data.Telefono" placeholder="Telefono">
        <input type="email" ng-model="patient.data.Email" placeholder="Email">
    </form>
</div>
